.app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

app-scene-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

app-camera-feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

app-camera-feed canvas {
    pointer-events: auto;
}
